.canvas-area{
  flex:1;
  position:relative;
  overflow:hidden;
  background:var(--canvas-bg);
  background-image:radial-gradient(circle at 1px 1px,var(--canvas-dot) 1px,transparent 0);
  background-size:24px 24px;
  transition:background .25s;
  touch-action: none;
}
.canvas-area__canvas{
  position:absolute;
  top:0;
  left:0;
  touch-action:none;
}


@media (max-width: 768px) {
  .side-panel, .right-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
  .side-panel { left: 0; }
  .right-panel { right: 0; }
  .right-panel.is-collapsed{ width: 0;
  min-width: 0px;
  max-width: 0px;}
  .side-panel.is-collapsed {
    min-width: 0px;
    max-width: 0;
    width: 0;
  }
  .right-panel__collapse {
    min-width: 10px;
    
    width: 25px;
    left: -20px;
    top: -80;
    
  }
  .side-panel.is-collapsed .side-panel__collapse {
    min-width: 10px;
    
    width: 25px;
    left: 0px;
    position: absolute;
  }
  
  /* start collapsed on mobile */

  
}